.rootCustomInputText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  .containerInput {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 60%;
    min-width: 300px;
    .inputText {
      border-radius: 0.5rem;
      padding: 1rem 0.5rem 0.5rem 1rem;
      box-shadow: var(--color-two) 0px 0px 16px;
      min-width: 300px;
      max-width: 300px;
      width: 100%;
      outline: none;
      border: 0.5px solid;
    }

    .inputLabel {
      position: absolute;
      top: 50%;
      left: 1rem;
      transform: translateY(-50%);
      transition: all 0.3s ease;
      pointer-events: none;
      // color: #999;
    }

    .inputAreaLabel {
      position: absolute;
      top: 20%;
      left: 1rem;
      transform: translateY(-50%);
      transition: all 0.3s ease;
      pointer-events: none;
    }

    .inputText:focus + .inputLabel,
    .inputText:focus + .inputAreaLabel,
    .shrink {
      top: 0;
      left: 1rem;
      font-size: 0.8rem;
      transform: translateY(-110%);
      // color: black;
    }

    .inputText:focus {
      box-shadow: #ffec1f 0px 0px 16px;
    }
  }

  .errorMsg {
    color: red;
    align-self: start;
    padding-left: 0.5rem;
    height: 1rem;
  }
}
