.containerError404 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  gap: 1rem;

  .titleError404 {
    margin-top: 1rem;
  }

  .routeError404 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
  }

  .boxImageError {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 90vw;
    min-width: 300px;
    max-width: 500px;
    border-radius: 5px;

    img {
      width: 90vw;
      min-width: 300px;
      max-width: 500px;
      border-radius: 5px;
    }
  }
}
