.rootSearchPage {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  #formTableSearch {
    width: fit-content;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    .boxBtnsSearchForm {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      align-items: center;
      justify-content: center;

      .btnRequiredValues {
        .buttonApp_01 {
          opacity: 0.5;
        }
      }
    }
  }
}
