.notiflix-report {
  z-index: 9999;
}

.notiflix-report .notiflix-report-inner {
  font-size: 18px !important;
}

.notiflix-report-title {
  font-size: 22px !important;
}

.notiflix-report-message {
  text-align: center !important;
  font-size: 18px !important;
}
