:host,
:root {
  --color-one: #f3f3f3;
  --color-two: #0d357b;
  --color-three: #ffc107;
  --color-four: black;
  //
  --color-five: #5caafd;
  --color-six: #112a46;
  --color-seven: #acc8e5;
  --color-eight: #82a5ca;
}

html,
#root,
body {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: Arial, Helvetica, sans-serif !important;
  #light {
    color: var(--color-four);
    background-color: var(--color-one);
    button {
      background-color: var(--color-one);

      background-color: var(--color-seven);
    }
  }

  #dark {
    color: var(--color-seven);
    background-color: var(--color-six);
    button {
      color: var(--color-seven);

      background-color: var(--color-two);
    }
  }
  button:active {
    scale: 0.97;
    opacity: 0.5;
  }
}
