:host,
:root {
  --color-one: #f3f3f3;
  --color-two: #0d357b;
  --color-three: #ffc107;
  --color-four: black;
  //
  --color-five: #5caafd;
  --color-six: #112a46;
  --color-seven: #acc8e5;
  --color-eight: #82a5ca;
  --color-nine: #e4faff;
}

html,
#root,
body {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: Arial, Helvetica, sans-serif !important;
  #light {
    color: var(--color-four) !important;
    background-color: var(--color-one);

    button {
      color: var(--color-four);
      background-color: var(--color-seven);
    }
    .selectedLanguage {
      background-color: var(--color-five);
    }
    .primaryBtn,
    .primaryBtn button {
      color: var(--color-four);
      background-color: var(--color-seven);
    }
    .secundaryBtn,
    .secundaryBtn button {
      color: var(--color-four);
      background-color: var(--color-nine);
    }
  }

  #dark {
    color: var(--color-seven) !important;
    background-color: var(--color-six);
    button {
      color: var(--color-seven);
      background-color: var(--color-two);
    }
    .selectedLanguage {
      background-color: var(--color-nine);
    }
    .primaryBtn,
    .primaryBtn button {
      color: var(--color-seven);
      background-color: var(--color-two);
    }
    .secundaryBtn,
    .secundaryBtn button {
      color: var(--color-seven);
      background-color: var(--color-five);
    }
  }
  button:active {
    scale: 0.97;
    opacity: 0.5;
  }
}
